<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
        <H1>Enter your details </H1> <br>

        <label for="fname">Name</label>
        <input type = "text" name= "fname" /> 
        <br>

        <label>Email</label>
        <input type = "text" name = "email" /> 
        <br>

        <label>Message</label>
        <textarea name="message" cols="50" rows="4">Message</textarea><br>
        

        <input type = "submit">
        </center>
    </form>
    </BODY>
    </HTML>

